<form [formGroup]="registerform" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input type="text"
      [ngClass]="{'is-invalid': registerform.get('username').errors && registerform.get('username').touched}"
      class="form-control" placeholder="Username" formControlName="username">
    <div class="invalid-feedback">Please enter a username</div>
  </div>

  <div class="form-group">
    <input type="password"
      [ngClass]="{'is-invalid': registerform.get('password').errors && registerform.get('password').touched}"
      class="form-control" placeholder="Password" formControlName="password">
    <div class="invalid-feedback"
      *ngIf="registerform.get('password').hasError('required') && registerform.get('password').touched">
      Password is required</div>
    <div class="invalid-feedback"
      *ngIf="registerform.get('password').hasError('minlength') && registerform.get('password').touched">
      Password must be at least 4 characters</div>
    <div class="invalid-feedback"
      *ngIf="registerform.get('password').hasError('maxlength') && registerform.get('password').touched">
      Password cannot exceed 8 characters</div>
  </div>
  <div class="form-group">
    <input type="password" [ngClass]="{'is-invalid': registerform.get('confirmPassword').errors
       && registerform.get('confirmPassword').touched
       || registerform.get('confirmPassword').touched && registerform.hasError('mismatch')}" class="form-control"
      placeholder="Confirm Password" formControlName="confirmPassword">
    <div class="invalid-feedback" *ngIf="registerform.get('confirmPassword').hasError('required') 
      && registerform.get('confirmPassword').touched">
      Password is required
    </div>
    <div class="invalid-feedback" *ngIf="registerform.hasError('mismatch') 
      && registerform.get('confirmPassword').touched">
      Password must match
    </div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-3" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>

</form>

<p>Form values: {{ registerform.value | json}}</p>
<p>Form status: {{ registerform.status | json}}</p>