<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profile</h1>
    </div>
    <div class="col-sm-8">
      <div class="alert alert-info" *ngIf="isFormDirty()">
        <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{user.photoUrl}}" alt="{{user.knownAs}}" class="card-img-top img-thumbnail">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user.city }}, {{ user.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user.lastActive }}</p>
          </div>
          <div>
            <strong>Member since: </strong>
            <p>{{ user.created }}</p>
          </div>
          <div class="card-footer">
            <button [disabled]="!isFormDirty()" form="editForm" class="btn btn-success btn-block">Save Changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <ngb-tabset type="pills">
          <ngb-tab title="Edit Profile" class="p-3">
            <ng-template ngbTabContent>
              <div class="p-3">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                  <h4>Description</h4>
                  <textarea name="introduction" rows="6" class="form-control" [(ngModel)]="user.introduction">
                  </textarea>
                  <h4>Looking For</h4>
                  <textarea name="lookingFor" rows="6" class="form-control" [(ngModel)]="user.lookingFor">
                  </textarea>
                  <h4>Interests</h4>
                  <textarea name="interests" rows="6" class="form-control" [(ngModel)]="user.interests">
                  </textarea>
                  <h4>location Details:</h4>
                  <div class="location-details">
                    <div class="d-flex mb-3">
                      <label for="city">City</label>
                      <input type="text" class="form-control" name="city" [(ngModel)]="user.city">
                    </div>
                    <div  class="d-flex">
                      <label for="country">Country</label>
                      <input type="text" class="form-control" name="country" [(ngModel)]="user.country">
                    </div>
                  </div>
                </form>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Edit Photos">
            <ng-template ngbTabContent>
              <div class="p-3">
                <h4>photo will go here</h4>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>