img.img-thumbnail {
    margin: 25px;
    width: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

#editForm {
    textarea {
        margin-bottom: 20px;
    }

    .location-details {
        > div {
            display: flex;
            align-items: center;
        }
        label {
            max-width: 100px;
            width: 100px;
            margin: 0;
        }
    }
}

