img.thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.file-box {
    display: flex;
    align-items: center;
    
    button {
        margin-right: 20px;
    }
}