.card:hover img {
    transform: scale(1.2, 1.2);
    opacity: .7;
}

.card img {
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 1;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;

    &:hover ul {
        bottom: 0;
        opacity: 1;
    }
}

ul {
    transition: all .4s ease-out;
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    opacity: 0;
}